.container-bolas{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.logout-button{
  width: 50px;
  height: 50px;
  position: fixed;
  display: inline-flex;
  left: 2rem;
  top: 2rem;
  z-index: 1;
}

@media screen and (max-width: 600px) {
  .container-bolas {
    flex-direction: column;
    align-items: center;
  }

  .logout-button{
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    left: unset;
    top: unset;
    z-index: 10;
  }
}


