<div class="logout-button" (click)="logout()">
  <button mat-mini-fab color="accent" aria-label="Logout">
    <mat-icon>logout</mat-icon>
  </button>
</div>
<div class="container-bolas">
  <div *ngFor="let user of users; trackBy:identifyChangeUser">
    <app-bola
      [positionX]="user.position.x"
      [positionY]="user.position.y"
      [typeBall]="user.balltype"
      [Width]="sizeWpx"
      [Height]="sizeHpx"
      [userPhoto]="user.photo"
    >
      {{user.name}}
    </app-bola>
  </div>
</div>
